@media screen and (max-width: 2560px) and (max-height: 1364px)
  .login
    &__sam
      bottom: -450px
    &__salute
      bottom: -55px
@media screen and (max-width: 2560px) and (max-height: 1274px)
  .login
    &__sam
      transform: scale(0.9)
      transform-origin: bottom
      bottom: -410px
    &__salute
      bottom: -135px
// @media screen and (max-width: 2204px)
@media screen and (max-width: 2204px) and (max-height: 1080px)
  .login
    &__sam
      transform: scale(0.9)
      transform-origin: bottom
      bottom: -380px
    &__salute
      bottom: -195px
@media screen and (max-width: 2204px) and (max-height: 981px)
  .login
    &__title
      margin-top: 70px
@media screen and (max-width: 1920px)
  .login
    &__salute
      bottom: -5px
    &__sam
      transform: scale(1)
      bottom: -377px
@media screen and (max-width: 1920px) and (max-height: 1020px)
  .login
    &__title
      transform: scale(0.9)
      transform-origin: top
    &__sam
      transform: scale(0.9)
      transform-origin: center
      bottom: -390px
    &__salute
      top: 100px
// @media screen and (max-width: 1920px) and (max-height: 1040px)
//   .login
//     &__salute
//       bottom: auto
//       top: 80px
@media screen and (max-width: 1920px) and (max-height: 980px)
  .login
    &__title
      margin-top: 92px
@media screen and (max-width: 1920px) and (max-height: 950px)
  .login
    &__sam
      transform: scale(0.85)
      transform-origin: center
      bottom: -410px
// @media screen and (max-width: 1830px) and (max-height: 920px)
@media screen and (max-width: 1707px) and (max-height: 1280px) and (min-height: 1200px)
  .login
    &__title
      margin-top: 160px
    &__sam
      bottom: -337px
@media screen and (max-width: 1707px) and (max-height: 905px)
  .login
    &__salute
      top: 80px
    &__sam
      bottom: -357px
@media screen and (max-width: 1707px) and (max-height: 860px)
  .login
    &__title
      transform: scale(0.9)
      transform-origin: top
    &__sam
      transform: scale(0.9)
@media screen and (max-width: 1707px) and (max-height: 810px)
  .login
    &__title, &__sam
      transform: scale(0.85)
    &__sam
      bottom: -380px
// @media screen and (max-width: 1707px) and (max-height: 840px)
// @media screen and (max-width: 1707px) and (max-height: 790px)
@media screen and (max-width: 1680px) and (max-height: 1050px)
  .login
    &__title
      margin-top: 92px
    &__sam
      bottom: -337px
@media screen and (max-width: 1680px) and (max-height: 1040px)
  .login
    &__salute
      bottom: -5px
      top: auto
// @media screen and (max-width: 1680px) and (max-height: 980px)
//   .login
//     &__title
//       margin-top: 50px
@media screen and (max-width: 1680px) and (max-height: 950px)
  .login
    &__salute
      top: 110px
@media screen and (max-width: 1680px) and (max-height: 860px)
  .login
    &__sam
      transform: scale(0.85)

// @media screen and (max-width: 1680px) and (max-height: 930px)
//   .login
//     &__salute
//       top: 90px
@media screen and (max-width: 1600px) and (max-height: 900px)
  .login
    &__salute
      // bottom: -5px
      top: 120px
    &__sam
      bottom: -340px
@media screen and (max-width: 1600px) and (max-height: 850px)
  .login
    &__sam, &__title
      transform: scale(0.8)
    &__sam
      bottom: -370px
@media screen and (max-width: 1600px) and (max-height: 800px)
  .login
    &__sam, &__title
      transform: scale(0.75)
    &__sam
      bottom: -390px
    &__salute
      top: 90px

@media screen and (max-width: 1536px) and (max-height: 850px)
  .login
    &__sam, &__title
      transform: scale(0.85)
    &__sam
      bottom: -360px
@media screen and (max-width: 1536px) and (max-height: 800px)
  .login
    &__salute
      top: 120px
@media screen and (max-width: 1536px) and (max-height: 770px)
  .login
    &__sam, &__title
      transform: scale(0.8)
@media screen and (max-width: 1536px) and (max-height: 740px)
  .login
    &__title, &__sam
      transform: scale(0.75)
    &__salute
      top: 90px
    &__title
      margin-top: 85px
    &__sam
      bottom: -380px
@media screen and (max-width: 1512px) and (max-height: 864px)
  .login
    &__title
      margin-top: 75px
    &__salute
      top: 110px
// @media screen and (max-width: 1512px) and (max-height: 834px)
//   .login
//     &__salute
//       top: 80px
// @media screen and (max-width: 1512px) and (max-height: 690px)
// @media screen and (max-width: 1470px) and (max-height: 768px)
// @media screen and (max-width: 1470px) and (max-height: 760px)
// @media screen and (max-width: 1470px) and (max-height: 730px)
// @media screen and (max-width: 1470px) and (max-height: 700px)
// @media screen and (max-width: 1470px) and (max-height: 680px)
@media screen and (max-width: 1470px) and (max-height: 678px)
  .login
    &__title, &__sam
      transform: scale(0.70)
    // &__title
    //   margin-top: 30px
    &__salute
      top: 70px
@media screen and (max-width: 1464px) and (max-height: 715px)
  .login
    &__sam
      bottom: -360px
@media screen and (max-width: 1440px)
  .login
    &__title, &__sam
      transform: scale(1)
    &__title
      margin-top: 92px
    &__sam
      margin-left: -160px
      margin-right: -90px
      bottom: -220px
      top: auto
    &__salute
      top: auto
@media screen and (max-width: 1440px) and (max-height: 860px)
  .login
    &__title
      margin-top: 70px
    &__salute
      top: 140px
@media screen and (max-width: 1440px) and (max-height: 800px)
  .login
    &__title, &__sam
      transform: scale(0.95)
@media screen and (max-width: 1440px) and (max-height: 780px)
  .login
    &__sam
      bottom: -250px
// @media screen and (max-width: 1380px) and (max-height: 960px)
//   .login
//     &__title
      // transform: scale(0.9)
@media screen and (max-width: 1370px) and (max-height: 730px)
  .login
    &__title, &__sam
      transform: scale(0.9)
    &__sam
      bottom: -260px
    &__salute
      top: 120px
@media screen and (max-width: 1370px) and (max-height: 700px)
  .login
    &__title
      margin-top: 50px
    &__salute
      top: 90px
@media screen and (max-width: 1370px) and (max-height: 650px)
  .login
    &__title, &__sam
      transform: scale(0.85)
@media screen and (max-width: 1366px) and (max-height: 950px)
  .login
    &__title
      margin-top: 120px
@media screen and (max-width: 1280px)
  .login
    &__title, &__sam
      transform: scale(1)
    &__title
      margin-top: 53px
      text-shadow: 0px 3.015px 0px #65204A
      letter-spacing: -2.171px
      span
        margin-top: 30px
        letter-spacing: -2.171px
        text-shadow: 0px 3.853px 0px #0E3B79
    &__salute
      top: auto
    &__sam
      bottom: -206px
      margin-left: -137px
      margin-right: -78px

@media screen and (max-width: 1280px) and (min-width: 1200px) and (max-height: 1706px) and (min-height: 1599px)
  .login
    background-position-x: 0 
    &__title
      margin-top: 210px
    &__sam, &__salute
      display: none
    &__full-sam, &__only-salute
      display: block
      position: absolute
    &__full-sam
      bottom: -340px
      margin-left: -120px
      margin-right: -100px
      transform: scale(1.1)
    &__only-salute
      bottom: 440px
      transform: scale(1.2)

@media screen and (max-width: 1280px) and (max-height: 1356px)
@media screen and (max-width: 1280px) and (max-height: 800px)
  .login
    &__title
      margin-top: 80px
@media screen and (max-width: 1280px) and (max-height: 760px)
  .login
    &__title
      margin-top: 52px
@media screen and (max-width: 1280px) and (max-height: 720px)
  .login
    &__salute
      top: 105px
    &__sam
      bottom: -225px
@media screen and (max-width: 1280px) and (max-height: 670px)
  .login
    &__title, &__sam
      transform: scale(0.95)
    &__sam
      bottom: -235px
@media screen and (max-width: 1280px) and (max-height: 650px)
  .login
    &__title, &__sam
      transform: scale(0.9)
    &__sam
      bottom: -245px
    &__salute
      top: 85px
@media screen and (max-width: 1280px) and (max-height: 600px)
  .login
    &__title, &__sam
      transform: scale(0.84)
    &__sam
      bottom: -255px
    &__salute
      top: 75px
@media screen and (max-width: 1205px) and (max-height: 585px)
  .login
    &__sam
      bottom: -225px
@media screen and (max-width: 1200px) and (max-height: 715px)
  .login
    &__salute
      top: auto
@media screen and (max-width: 1180px) and (max-height: 820px)
  .login
    &__title
      margin-top: 100px
@media screen and (max-width: 1120px) and (max-height: 720px)
  .login
    &__title
      margin-top: 50px
@media screen and (max-width: 1080px) and (max-height: 707px)
  .login
    &__title
      margin-top: 70px
    &__sam
      bottom: -200px

@media screen and (max-width: 1032px) and (min-width: 1029px) and (max-height: 1302px) and (min-height: 1202px)
  .login
    background-position-x: 0 
    &__title
      margin-top: 210px
    &__sam, &__salute
      display: none
    &__full-sam, &__only-salute
      display: block
      position: absolute
    &__full-sam
      bottom: -300px
      margin-left: -120px
      margin-right: -100px
      transform: scale(1.1)
    &__only-salute
      bottom: 440px
      transform: scale(1.2)




@media screen and (max-width: 1024px)
  .login
    &__title
      margin-top: 100px
    &__sam
      transform: scale(1)
      bottom: -150px
      margin-left: -140px
      margin-right: -95px
@media screen and (max-width: 1024px) and (max-height: 1370px) and (min-height: 1240px) and (orientation: portrait)
  .login
    background-position-x: 0 
    &__title
      margin-top: 210px
    &__sam, &__salute
      display: none
    &__full-sam, &__only-salute
      display: block
      position: absolute
    &__full-sam
      bottom: -295px
      margin-left: -120px
      margin-right: -100px
      transform: scale(1.1)
    &__only-salute
      bottom: 440px
      transform: scale(1.2)
@media screen and (max-width: 1024px) and (max-height: 740px)
  .login
    &__title
      margin-top: 80px
@media screen and (max-width: 1024px) and (max-height: 720px)
  .login
    &__salute
      top: 152px
@media screen and (max-width: 1024px) and (max-height: 690px)
  .login
    &__title
      margin-top: 70px
    &__salute
      top: 122px
@media screen and (max-width: 1024px) and (max-height: 650px)
  .login
    &__title
      margin-top: 60px
    &__salute
      top: 102px
@media screen and (max-width: 1024px) and (max-height: 630px)
  .login
    &__salute
      top: 82px
    &__sam
      bottom: -170px