buttons#buttons
   style.
     #buttons {
       display: flex;
       position: fixed;
       top: 0;
       left: 0;
     
       gap: 5px;
       z-index: 999;
     }
     #theme, #ua, #en {
       border: 1px dashed grey;
       background-color: transparent;
       color: #FF267E;
       cursor: pointer;
       padding: 2px 4px;
       text-transform: uppercase;
       font-weight: 600;
       transition: 0.3s all linear;
     }
     #theme:hover, #ua:hover, #en:hover {
       border: 2px dashed white;
       background-color: #05C48A;
       color: #005;
     }
     @media screen and (max-width: 380px) {
       #buttons {
         right: 0;
         left: auto;
         width: min-content;
         flex-direction: column;
         padding: 5px;
         transform: translate(0);
       }
       #theme, #ua, #en {
         padding: 5px 10px;
         text-align: center;
       }
     }

   a(href='./')#ua UA
   a(href='./index-en.html')#en EN