.wrapper
  .login
    .login__elements
      picture
        //- source(media="(max-width: 1032px) and (min-height: 1032px) and (orientation: portrait)" srcset="img/elements.png")
        source(media="(max-width: 1024px)" srcset="img/elements-512.png")
        source(media="(max-width: 1280px)" srcset="img/elements-640.png")
        source(media="(max-width: 1440px)" srcset="img/elements-720.png")
        source(media="(min-width: 1441px)" srcset="img/elements-960.png")
        img(src="img/elements-640.png" alt="elements login")
    h1.login__title З поверненням 
      span у гру!
    .login__sam
      picture
        //- source(media="(max-width: 1032px) and (min-height: 1032px) and (orientation: portrait)" srcset="img/sam.png")
        source(media="(max-width: 1024px)" srcset="img/sam-512.png")
        source(media="(max-width: 1280px)" srcset="img/sam-640.png")
        source(media="(max-width: 1440px)" srcset="img/sam-720.png")
        source(media="(min-width: 1441px)" srcset="img/sam-960.png")
        img(src="img/sam-640.png" alt="sam login")