.wrapper
  .login
    .login__salute
      picture
        //- source(media="(max-width: 1032px) and (min-height: 1032px) and (orientation: portrait)" srcset="img/salute.png")
        source(media="(max-width: 1024px)" srcset="img/salute-512.png")
        source(media="(max-width: 1280px)" srcset="img/salute-640.png")
        source(media="(max-width: 1440px)" srcset="img/salute-720.png")
        source(media="(min-width: 1441px)" srcset="img/salute-960.png")
        img(src="img/salute-640.png" alt="salute login")
    h1.login__title З поверненням 
      span у гру!
    .login__sam
      picture
        //- source(media="(max-width: 1032px) and (min-height: 1032px) and (orientation: portrait)" srcset="img/sam.png")
        source(media="(max-width: 1024px)" srcset="img/sam-512.png")
        source(media="(max-width: 1280px)" srcset="img/sam-640.png")
        source(media="(max-width: 1440px)" srcset="img/sam-720.png")
        source(media="(min-width: 1441px)" srcset="img/sam-960.png")
        img(src="img/sam-640.png" alt="sam login")